body{
    margin: 0;
    padding: 0;
    background-position: top center;     
}

body, p {
    font: normal 12px / 140% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Mayryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #000000;
}

#container{
    width: 960px;
    margin: 10px auto 30px;
    position: relative;
}

#header {
    float: left;
    margin: 0 0 400px;   
}

h1 {
    font: normal normal bold 25px/140% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ","Mayryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    color: #999999;
    text-align: center;
}

#header h1 a {
    float: left;
    text-decoration: none;
    font-size: 24px;
    font-weight: normal;
    line-height: 2.5;
}

#header p {
    float: left;
    margin-top: 0px;
    font-size: 14px;
}

#gnavi {
    background-color: #fff;
    float: left;
    height: 70px;
    margin-left: 0;
    padding-left: 0;
}

ul {
    margin-top: .5em;
    margin-bottom: .5em;
}

#gnavi li {
    float: left;
    width: 186px;
    list-style-type: none;
    margin-right: 2px;
}

a:link, a:visited {
    text-decoration: underline;
    color: #0040B6;
}

a:hover{
    font-weight :bold;
}

.gnavi-text{
    text-align: center;
    height: 59px;
    padding-top: 10px;
    color: #fffff9;
}

.gnavi-text p{
    font-size: 14px;
    color: #fffff9;
}

#content {
    float: left;
    width: 680px;
    margin: 0 0 0px;
}

body div.n {
    padding: 5px 0;
}

#content h1 {
    margin: 25px 0 10px;
    padding: 0px;
    background: #4d4d4d;
}

div.hr {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #CCCCCC;
    height: 1px;
}

h2 {
    font: normal normal bold 20px / 140% "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Mayryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #000000;
}

#content h2 {
    margin: 20px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #808080;
}

.j-imageSubtitle .cc-m-image-align-3 {
    text-align: center;
}

.j-hgrid {
    padding: 0 !important;
}

.cc-m-hgrid-column {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    min-height: 1px;
    min-width: 0;
    padding: 0 2% 0 0;
}

.cc-m-hgrid-column.last {
    float: right;
    padding: 0;
}

#side {
    float: right;
    width: 235px;
    margin: 5px 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cc-nav-view-2085460973 {
    display: none;
}

#nav ul#mainNav1 li a {
    display: block;
    margin: 50 0 0 50;
    padding: 15px 0px 0px 20px;
    font-size: 14px;
    font-weight: normal;
    color: #996633;
    text-decoration: none;
    border-bottom: none;
    width: 280px;
    height: 35px;
}

.level_1 span:hover{
    opacity: 0.5;
}


#footer {
    clear: both;
    margin: 0 auto;
    width: 960px;
    margin-bottom: 10px;
}

div#contentfooter {
    width: 100%;
    font-size: 11px;
    line-height: 140%;
    font-weight: 400;
    overflow: hidden;
}

div#contentfooter div.leftrow {
    float: left;
    text-align: left;
    width: 55%;
}

div#contentfooter div.rightrow {
    float: right;
    text-align: right;
    width: 42%;
}

 /* ボタンのスタイル */
 #scrollToTop {
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: none; 
    width: 30px; 
    height: 30px; 
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 25%; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

/* 矢印を表示するための擬似要素 */
#scrollToTop::after {
    content: '▲'; 
    font-size: 15px; 
    color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* ホバー時のスタイル */
#scrollToTop:hover {
    transform: scale(1.1); 
}

